<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>

<head>
	<script src = "/js/passwordvalidation.js"></script>
	<script src = "/js/changepassword.js"></script>
	<script src = "/js/emergencycontacts.js"></script>
	<link href="/css/datepicker.css" rel="stylesheet">
</head>

	<body>
	<section id = "profile" class="container rcorners">
		<h1>Personal Information</h1>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Username</span>
					<span id = "username" class="col-sm-9 fieldval"><%=info.username%></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Name</span>
					<span class ="col-sm-9 fieldval"><span id = "fname"><%= info.fname%></span> <span id="lname"><%=info.lname%></span></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Email</span>
					<span id = "email" class="col-sm-9 fieldval"><%=info.email%></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Phone (Home)</span>
					<span id = "primary_phone" class="col-sm-9 fieldval"><%=info.primary_phone%></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Phone (Cell)</span>
					<span id = "secondary_phone" class="col-sm-9 fieldval"><%=info.secondary_phone%></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Gender</span>
					<span id = "gender" class="col-sm-9 fieldval"><%=info.gender%></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Date of Birth</span>
					<span id = "birth_date" class="col-sm-9 fieldval"><%=String(info.birth_date).substring(3, 15)%></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Address</span>
					<span id = "address" class="col-sm-9 fieldval"><%=info.address%></span>
				</p>
				<p>
					<span class="col-sm-9 col-sm-offset-2 fieldval"><span id = "city"><%=info.city%></span>, <span id = "province_name"><%=info.province_name%></span>, <span id = "postal_code"><%=info.postal_code%></span></span>
				</p>
			</div>
		</div>
		<div class="row form-group col-sm-12">
			<button type="button" class="btn btn-default col-sm-offset-5" onclick="editpersonal()" id="editpersonal">Edit</button>
		</div>
		<hr>

		<h1>Student Information</h1>
		<% if ( info.student == 1) { %>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">School Name</span>
					<span id = "school_name" class="col-sm-9 fieldval"><%=info.school_name%></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Grade/Year</span>
					<span id = "grade" class="col-sm-9 fieldval"><%=info.grade%></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Major</span>
					<span id = "major" class="col-sm-9 fieldval"><%=info.major%></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">ESL Level</span>
					<span id = "esl_level" class="col-sm-9 fieldval"><%=info.esl_level%></span>
				</p>
			</div>
		</div>
		<% } %>
		<div class="row form-group col-sm-12">
			<button type="button" class="btn btn-default col-sm-offset-5" onclick="editstudent()" id="editstudent">Edit</button>
		</div>
		<hr>

		<h1>Emergency Contacts</h1>


                                

		<h4>Contact #1</h4>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Name</span>
					<span class="col-sm-9 fieldval"><span id = "contactfname">Hard</span><span id = "contactlname">Coded</span></span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Relationship</span>
					<span id = "relationship" class="col-sm-9 fieldval">Hardcoding Mentor</span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Phone</span>
					<span id = "contactphone" class="col-sm-9 fieldval">123</span>
				</p>
			</div>
		</div>
		<h4>Contact #2</h4>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Name</span>
					<span class="col-sm-9 fieldval">Hard Coded</span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Relationship</span>
					<span class="col-sm-9 fieldval">Hardcoder Mentor</span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<p>
					<span class="col-sm-2 fieldname">Phone</span>
					<span class="col-sm-9 fieldval">123</span>
				</p>
			</div>
		</div>
		<div class="row form-group col-sm-12">
			<button type="button" class="btn btn-default col-sm-offset-5" onclick="editcontacts()" id="editcontacts">Edit</button>
		</div>
	</section>

	<!-- jQuery -->
	<script src="/js/jquery.js"></script>

	<script src="/js/detailedprofileajax.js"></script>
	<script src="/js/convertdate.js"></script>

</body>

</html>