<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>

<head>
    <link rel="stylesheet" type="text/css" href="/css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="/css/tabstylesvolunteer.css" />
    <script src = "/js/passwordvalidation.js"></script>
    <!-- datepicker CSS -->
    <link href="/css/datepicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/rentaltables.css" />
    <link href="/css/validation.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <title><%= title %></title>
 
    <script src = "/js/emergencycontacts.js"></script>
</head>

<body>
    <div class="page-wrap static-background" data-background="/img/gibsonpic.jpg">
    <section class="container rcorners">
        <div class="tabs tabs-style-linemove">
            <nav>
                <ul>
                    <li><a href="#controlpanel"><i class="fa fa-user tabicon"></i><span>Control Panel</span></a></li>
                    <li><a href="#users"><i class="fa fa-calendar tabicon"></i><span>Users</span></a></li>
                    <li><a href="#courses"><i class="fa fa-list tabicon"></i><span>Courses</span></a></li>
                    <li><a href="#rental"><i class="fa fa-tags tabicon"></i><span>Rental</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap sidetabs">
                <!--GET csrf token-->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="_csrf">
                <section id="controlpanel">
                    <hr>
                    <div class="col-sm-3">
                        <div id="sidebar-wrapper">
                            <ul class="sidebar-nav nav-stacked" id="menu">
                            <li class="active"><a class="menucolour" href="#adduser" data-toggle="tab"><i class="fa fa-user-plus"></i> Add New User</a></li>
                            <li><a class="menucolour" href="#addlimiteduser" data-toggle="tab"><i class="fa fa-user"></i> Add Limited User</a></li>
                            <li><a class="menucolour" href="#addusertocourse" data-toggle="tab"><i class="fa fa-user"></i> Add User To Course</a></li>
                        </ul>
                        </div>
                    </div>

                    <div class = "tab-content">
                        <div class="tab-pane active" id="adduser">
                            <div id="page-content-wrapper" class="container-fluid xyz">
                                <div id="myCarousel" class="carousel-overflow carousel slide" style="height:600px;" data-interval="false"><!--Carouselstart-->
                                    <div class = "carousel-inner"><!--Items inside carousel-->
                                        <div class = "item active"><!--first item-->
                                            <div class = "panel panel-default">
                                                <div class = "panel-heading">
                                                    <h2 class = "text-center">Account Creation</h2>
                                                </div>
                                                <div class = "panel-body">
                                                     <div class = "row">
                            <div class="form-group col-sm-offset-1 col-sm-10">
                                <label class="control-label"><span class="requiredasterisk">*</span>Username:</label>
                                <span id = "confirmuser"></span>
                                <input class = "form-control reqIn" type="text" name ="username" id="username" placeholder = "Enter Username" onchange="delayUsername();" required pattern="\w{3,16}">
                                <!--Character restrictions-->
                            </div>
                        </div>

                        <!--Input Password-->
                        <div class = "row">
                            <div class="form-group col-sm-offset-1 col-sm-5">
                                <label class="control-label"><span class="requiredasterisk">*</span>Password:</label>
                                <input type="password" class = "form-control reqIn" name = "password" id="password" placeholder="Enter Password"  onkeyup="checkPass(); return false;" minlength= "6" required pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,}">
                                <!--Character restrictions-->
                            </div>
                            <div class="form-group col-sm-5">
                                <label class="control-label"><span class="requiredasterisk">*</span>Confirm Password:</label>

                                <input type="password" class = "form-control reqIn" name = "passwordhashed" id="passwordhashed" placeholder="Re-enter Password" onkeyup="checkPass(); return false;" required pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,}">
                                <!--Character restrictions-->
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-sm-offset-1 col-sm-10">
                                <span id="confirmpass" class="confirmpass"></span>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="form-group col-sm-offset-1 col-sm-10">
                                <label class="control-label"><span class="requiredasterisk">*</span>Email:</label>
                                <input class = "form-control reqIn" type="email" name = "email" id="email" onchange =" delayEmail();"placeholder="Enter email" required pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b">
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-sm-offset-9 col-sm-2">
                                <button type = "button" class = "btn btn-success next-button" href="#myCarousel" data-slide="next">Next&nbsp;&nbsp;&nbsp;&rarr;</button>
                            </div>
                        </div>
                                                </div>
                                            </div>
                                        </div><!--Firstitem end-->
                                        <div class = "item"><!--second item-->
                                         <div class = "panel panel-default shadowy  signuppanel"><!-- panel start-->
                   <div class = "panel-heading" id="signup2">
                   <h2 class = "text-center">User Information</h2>
                   </div>
                    <div class = "panel-body">

                        <!--Input First/Last Name-->
                        <div class = "row">
                            <div class = "form-group col-sm-offset-1 col-sm-5">
                                <label><span class="requiredasterisk">*</span>First Name:</label>
                                <input type = "text" class = "form-control reqIn" name = "fname" id = "fname" placeholder="eg. Bob" required pattern="[a-zA-Z0-9. ]+"><!--Character restrictions-->
                            </div>
                            <div class = "form-group col-sm-5">
                                <label><span class="requiredasterisk">*</span>Last Name:</label>
                                <input type = "text" class = "form-control reqIn" name = "lname" id = "lname" placeholder="eg. Smith" required pattern="[a-zA-Z0-9. ]+"><!--Character restrictions-->
                            </div>
                        </div>

                        <!--Input Age-->
                        <div class = "row">
                                    <div class = "form-group col-sm-offset-1 col-sm-5">
                                <label><span class="requiredasterisk">*</span>Age Group:</label>
                                <select class = "form-control" name = "age_group" id = "age_group" placeholder="Age Group">
                                    <option value="" disabled selected>Please Select</option>
                                    <% for(var i=0; i<age_group_list.length; i++) { %>
                                        <li>
                                            <option value = <%= age_group_list[i].age_group_id %>>
                                                <%= age_group_list[i].age_group_name + " (" + age_group_list[i].age_group_description + ")" %>
                                            </option>
                                        </li>
                                    <% } %>
                                </select>
                            </div>
                            <div class = "form-group col-sm-5">
                                <label class = "control-label"><span class="requiredasterisk">*</span>Gender:</label>
                                <select class = "form-control" name = "gender" id = "gender" placeholder="Gender" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value = "Male">Male</option>
                                    <option value = "Female">Female</option>
                                    <option value = "Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "form-group col-sm-offset-1 col-sm-7">
                                <label class = "control-label"><span class="requiredasterisk">*</span>Address:</label>
                                <input type = "text" class = "form-control reqIn" name = "address" id = "address" required pattern="^[a-zA-Z0-9._ ]*$" oninvalid="setCustomValidity('Invalid address.')" onchange="try{setCustomValidity('')}catch(e){}"><!--Character restrictions-->
                            </div>
                            <div class = "form-group col-sm-3">
                                <label class = "control-label"><span class="requiredasterisk">*</span>Postal Code:</label>
                                <input type = "text" class = "form-control reqIn" name = "postal_code" id="postal_code" minlength="6" maxlength="7" placeholder="eg. A1A1A1" required pattern="^[a-zA-Z]{1}\d{1}[a-zA-Z]{1} *\d{1}[a-zA-Z]{1}\d{1}$" oninvalid="setCustomValidity('Invalid postal code.')" onchange="try{setCustomValidity('')}catch(e){}"><!--Character restrictions-->
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "form-group col-sm-offset-1 col-sm-3">
                                <label class = "control-label">Apt/Unit#:</label>
                                <input type = "number" class = "form-control" name = "apt" id = "apt" max="6">
                            </div>
                            <div class = "form-group col-sm-3">
                                <label class = "control-label"><span class="requiredasterisk">*</span>City:</label>
                                <input type = "text" class = "form-control reqIn" name = "city" id = "city" required pattern="[a-zA-Z. ]+" oninvalid="setCustomValidity('Invalid city.')" onchange="try{setCustomValidity('')}catch(e){}">
                                <!--Character restrictions-->
                            </div>
                            <div class = "form-group col-sm-4">
                                <label class = "control-label"><span class="requiredasterisk">*</span>Province:</label>
                                <select class = "form-control" name = "province" id = "province" placeholder="Province">
                                    <option value="" disabled selected>Please Select</option>
                                    <% for(var i=0; i<province_list.length; i++) { %>
                                        <li>
                                            <option value = <%= province_list[i].province_id %>>
                                                <%= province_list[i].province_name %>
                                            </option>
                                        </li>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                            <div class = "row">
                                <div class = "col-sm-offset-1  col-sm-4">
                                    <label for='student'><input type="checkbox" id="student" name = "student" onclick="studentcheckbox();"> I am a student.</label>
                                </div>
                                <div class="col-sm-6" id="signup-notifications">
                                    <label><input type="checkbox" id="send_notifications" name = "send_notifications"> Signup for email newsletters.</label>
                                </div>
                            </div>
                            <div id='student_info' class='hidden'>
                                <div class="row">
                                    <div class = "form-group col-sm-offset-1 col-sm-5">
                                        <label><span class="requiredasterisk">*</span>School Name:</label>
                                        <input type = "text" class = "form-control " class="required" name = "schoolname" id = "schoolname" pattern="[a-zA-Z0-9. ]+"><!--Character restrictions-->
                                    </div>
                                    <div class = "form-group col-sm-5">
                                        <label><span class="requiredasterisk">*</span>Grade:</label>
                                        <input type = "text" class = "form-control" class="required" name = "grade" id = "grade" pattern="[a-zA-Z0-9. ]+"><!--Character restrictions-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class = "form-group col-sm-offset-1 col-sm-5">
                                        <label>Major:</label>
                                        <input type = "text" class = "form-control" name = "major" id = "major" pattern="[a-zA-Z0-9. ]+"><!--Character restrictions-->
                                    </div>
                                    <div class = "form-group col-sm-5">
                                        <label>ESL Level (if applicable):</label>
                                        <input type = "text" class = "form-control" name = "esl" id = "esl" pattern="[a-zA-Z0-9. ]+"><!--Character restrictions-->
                                    </div>
                                </div>
                            </div>

                        <div class = "row">
                            <div class = "col-sm-offset-1 col-sm-5">
                                <button type = "button" class = "btn btn-warning " href="#myCarousel"  data-slide="prev" >&larr; &nbsp;&nbsp; &nbsp; Back </button>
                            </div>

                            <div class = "col-sm-offset-3 col-sm-2">
                                <button type = "button" class = "btn btn-success next-button" href="#myCarousel" data-slide="next">Next&nbsp;&nbsp; &nbsp; &rarr;</button>
                            </div>
                        </div>

                    </div><!--panelbody-->
                </div><!--panel-default-->
                                        </div><!--second item end-->
                                        <div class = "item"><!--third item-->
                                        <div class = "panel panel-default shadowy  signuppanel"><!-- panel start-->
                           <div class = "panel-heading" id="signup3">
                           <h2 class = "text-center">Contact Info</h2>
                           </div>
                            <div class = "panel-body">

                                <!--Input phonenumber-->
                                <div class = "row">
                                    <div class = "form-group col-sm-offset-1 col-sm-3 stoppaddingright">
                                        <label class = "control-label">Phone (Home):</label>
                                        <input class = "form-control" type = "text" name = "primary_phone" id = "primary_phone" maxlength="16" pattern="[+]?[1]?[\s-]?[0-9]{3}[\s-]?[0-9]{3}[\s-]?[0-9]{4}" oninvalid="setCustomValidity('Invalid phone number.')" onchange="try{setCustomValidity('')}catch(e){}"><!--Character restrictions-->
                                    </div>
                                    <div class = "col-sm-2 stoppaddingleft">
                                        <label class = "control-label">Ext:</label>
                                        <input class = "form-control" type = "text" name = "primary_extension" id = "primary_extension" maxlength="6" pattern="[+]?[1]?[\s-]?[0-9]{3}[\s-]?[0-9]{3}[\s-]?[0-9]{4}" oninvalid="setCustomValidity('Invalid Extension.')" onchange="try{setCustomValidity('')}catch(e){}"><!--Character restrictions-->
                                    </div>
                                    <div class = "form-group col-sm-3 stoppaddingright">
                                        <label class = "control-label">Phone (Cell):</label>
                                        <input class = "form-control" type = "text" name = "secondary_phone" id = "secondary_phone" maxlength="16" pattern="[+]?[1]?[\s-]?[0-9]{3}[\s-]?[0-9]{3}[\s-]?[0-9]{4}" oninvalid="setCustomValidity('Invalid phone number.')" onchange="try{setCustomValidity('')}catch(e){}"><!--Character restrictions-->
                                    </div>
                                    <div class = "form-group col-sm-2 stoppaddingleft">
                                        <label class = "control-label">Ext:</label>
                                        <input class = "form-control" type = "text" name = "secondary_extension" id = "secondary_extension" maxlength="6" pattern="[+]?[1]?[\s-]?[0-9]{3}[\s-]?[0-9]{3}[\s-]?[0-9]{4}" oninvalid="setCustomValidity('Invalid Extension.')" onchange="try{setCustomValidity('')}catch(e){}"><!--Character restrictions-->
                                    </div>
                                </div>

                                <!--emergency contacts-->
                                <div class = "row">
                                   <div class = "col-sm-offset-1 col-sm-5">
                                        <h4>Emergency Contacts <span class = "normalfont">(Minimum 1)</span></h4>
                                    </div>
                                </div>
                                    <% for(var i=1; i <= MAX; i++) { %>
                                    <div id = <%= "contact" + i %> <% if (i != 1) { %> class = "hidden" <% } %> >
                                        <div class = "row">
                                            <div class = "col-sm-offset-1 col-sm-5">
                                                <label>Emergency Contact <%= i %>:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class = "form-group col-sm-offset-1 col-sm-5">
                                                <label><span class="requiredasterisk">*</span>First Name:</label>
                                                <input type = "text" class = "form-control reqIn required" name = <%= "emergencyfname" + i %> id = <%= "emergencyfname" + i %> placeholder= "eg. Alice" pattern= "[a-zA-Z0-9. ]+" oninvalid="setCustomValidity('Invalid name.')" onchange="try{setCustomValidity('')}catch(e){}" <% if (i == 1) { %> required <% } %> ><!--Character restrictions-->
                                            </div>
                                            <div class = "form-group col-sm-5">
                                                <label><span class="requiredasterisk">*</span>Last Name:</label>
                                                <input type = "text" class = "form-control reqIn required" name = <%= "emergencylname" + i %> id = <%= "emergencylname" + i %> placeholder="eg. Smith" pattern="[a-zA-Z0-9. ]+" oninvalid="setCustomValidity('Invalid name.')" onchange="try{setCustomValidity('')}catch(e){}" <% if (i == 1) { %> required <% } %>><!--Character restrictions-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class = "form-group col-sm-offset-1 col-sm-5">
                                                <label><span class="requiredasterisk">*</span>Relationship:</label>
                                                <input type = "text" class = "form-control reqIn required" name = <%= "relationship" + i %> id = <%= "relationship" + i %> pattern="[a-zA-Z0-9. ]+" <% if (i == 1) { %> required <% } %>><!--Character restrictions-->
                                            </div>
                                            <div class = "form-group col-sm-5">
                                                <label><span class="requiredasterisk">*</span>Phone:</label>
                                                <input type = "text" class = "form-control reqIn required" name = <%= "ephone" + i %> id = <%= "ephone" + i %> maxlength="16" pattern="[+]?[1]?[\s-]?[0-9]{3}[\s-]?[0-9]{3}[\s-]?[0-9]{4}" oninvalid="setCustomValidity('Invalid phone number.')" onchange="try{setCustomValidity('')}catch(e){}" <% if (i == 1) { %> required <% } %>><!--Character restrictions-->
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                    <div class="row">
                                        <div class = " col-sm-offset-1 col-sm-5">
                                            <button type = "button" class= "btn btn-info" onclick="addcontact()" id = "addbutton">Add another contact</button>
                                        </div>
                                        <div class = "col-sm-5">
                                            <button type = "button" class= "btn btn-info hidden btnedit" onclick="removecontact()" id = "removebutton">Remove a contact</button>
                                        </div>
                                    </div>

                                    <div class = "row signupbuttons">
                                        <div class = "col-sm-offset-1 col-sm-5">
                                            <button type = "button" class = "btn btn-warning " id="back" href="#myCarousel" data-slide="prev">&larr; &nbsp;&nbsp; &nbsp; Back </button>
                                        </div>

                                        <div class = "register-button col-sm-5">
                                            <button type = "button" class = "btn btn-success" name="btnsubmit" onclick="signup()" id="btnsubmit">Complete Signup</button>
                                        </div>
                                    </div>

                             </div><!--panelbody-->
                        </div><!--panel-default-->
                                        </div><!--third item end-->
                                    </div><!--carousel inner end-->
                                </div><!--Carousel End-->
                            </div>
                        </div>
                        <div class="tab-pane" id="addlimiteduser">
                            <div id="page-content-wrapper" class="container-fluid xyz">
                                <form name="frm" action = "/volunteer/addlimited" method = "post" role = "form" id= "frm">
                                <h3>Add Limited User</h3>
                                <div class = "row">
                                    <div class = "form-group col-sm-5">
                                        <label><span class="requiredasterisk">*</span>First Name:</label>
                                        <input type = "text" class = "form-control reqIn" name = "fname" id = "fname" placeholder="eg. Bob" required pattern="[a-zA-Z0-9. ]+"><!--Character restrictions-->
                                    </div>
                                    <div class = "form-group col-sm-5">
                                        <label><span class="requiredasterisk">*</span>Last Name:</label>
                                        <input type = "text" class = "form-control reqIn" name = "lname" id = "lname" placeholder="eg. Smith" required pattern="[a-zA-Z0-9. ]+"><!--Character restrictions-->
                                    </div>
                                </div>

                                <div class = "row">
                                    <div class="form-group col-sm-5">
                                        <label class="control-label"><span class="requiredasterisk">*</span>Email:</label>
                                        <input class = "form-control reqIn" type="email" name = "email" id="email" onchange =" delayEmail();"placeholder="Enter email" required pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b">
                                    </div>
                                    <div class = "form-group col-sm-5">
                                        <label class = "control-label">Phone (Home):</label>
                                        <input class = "form-control" type = "text" name = "primary_phone" id = "primary_phone" maxlength="16" pattern="[+]?[1]?[\s-]?[0-9]{3}[\s-]?[0-9]{3}[\s-]?[0-9]{4}" oninvalid="setCustomValidity('Invalid phone number.')" onchange="try{setCustomValidity('')}catch(e){}"><!--Character restrictions-->
                                    </div>
                                </div>

                                <div class = "row">
                                    <div class = "col-sm-10 text-right">
                                        <button type = "button" class = "btn btn-default">Add</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="addusertocourse">
                            <div id="page-content-wrapper" class="container-fluid xyz">
                                <h3>Add User To Course</h3>
                                
                            </div>
                        </div>
                    </div>
                </section>
                <section id="profile">
                    <!-- Tab On-Click fills users-->
                </section>
                <section id="courses">

                    <!-- Tab On-Click fills courses-->
                </section>
                <section id="rental">
                    <hr>
                    <h1>Facility Rates from 2016 January</h1>
                    <h4 class="h4title">Venue Rental</h4 class="h4title">
                    <table class = "table table-bordered rentaltablemargin">
                        <thead>
                            <tr class = "tableheader">
                                <th>Venues<br>(includes limited chairs and tables)</th>
                                <th>Capacity</th>
                                <th>Rental Fee/Hour</th>
                                <th>Refundable Security Deposit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Carpet Area<br>(10 chairs +1 table)</td>
                                <td>20 people</td>
                                <td>$30.00</td>
                                <td>$50.00</td>
                            </tr>
                            <tr>
                                <td>Room 102<br>(40 chairs +3 tables)</td>
                                <td>150 people</td>
                                <td>$40.00</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td>Room 101<br>(50 chairs + 4 tables)</td>
                                <td>200 people</td>
                                <td>$45.00</td>
                                <td>$150.00</td>
                            </tr>
                            <tr>
                                <td>Open Area<br>(50 chairs + 4 tables)</td>
                                <td>300 people</td>
                                <td>$55.00</td>
                                <td>$200.00</td>
                            </tr>
                            <tr>
                                <td>Double Gymnasium<br>(80 chairs + 6 tables)</td>
                                <td>500 people</td>
                                <td>$100.00</td>
                                <td>$300.00</td>
                            </tr>
                            <tr>
                                <td>Cultural Cafe</td>
                                <td>90 people</td>
                                <td colspan="2">Refer to Cultural Café’s rental package</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><i>Note: Rental fees includes provision of certain number of tables and chairs, additional furniture and all other equipment and services may have charges applied.</i></p>

                    <h4 class="h4title">AV Equipment Rental (For inside Centre Only)</h4 class="h4title">
                    <table class = "table table-bordered rentaltablemargin">
                        <thead>
                            <tr class = "tableheader">
                                <th>AV Equipment</th>
                                <th>Rate (minimum 3 hours)</th>
                                <th>Refundable Security Deposit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Portable PA System</td>
                                <td>$15.00 per hour</td>
                                <td>$150</td>
                            </tr>
                            <tr>
                                <td>Portable Projector</td>
                                <td>$5.00 per hour</td>
                                <td>$50</td>
                            </tr>
                            <tr>
                                <td>Mapex Meridian Blue 5-piece kit with Sabian cymbals & hardware</td>
                                <td>$5.00 per hour</td>
                                <td>$50</td>
                            </tr>
                            <tr>
                                <td>Roland keyboard FP-7F, 88-key, includes amp, stand and bench</td>
                                <td>$5.00 per hour</td>
                                <td>$50</td>
                            </tr>
                            <tr>
                                <td>PA system and Projector in the gym</td>
                                <td>$30.00 per hour</td>
                                <td>$200</td>
                            </tr>
                            <tr>
                                <td>Operator Fee (mandatory for using the system in gym)</td>
                                <td colspan="2">$25.00 per hour<br>*first half hour for set up and the last half hour for take down</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><i>Note: Refundable security deposit is refundable with condition after the last day of rental stated in the agreement, please refer to Rental Application Form.</i></p>

                    <h4 class="h4title">Other Equipment and Furniture Rental (For inside Centre Only)</h4 class="h4title">
                    <table class = "table table-bordered rentaltablemargin">
                        <thead>
                            <tr class = "tableheader">
                                <th>Other Equipment</th>
                                <th>Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Stage / podium (staff will help set up and take down)</td>
                                <td>$50.00/time</td>
                            </tr>
                            <tr>
                                <td>Extra Chairs</td>
                                <td>$1/chair</td>
                            </tr>
                            <tr>
                                <td>Extra Tables</td>
                                <td>$3/table</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class = "sectionmargin"><b><u>Insurance Requirement</u></b><br>
                    All applicants are required to provide a proof of liability/event insurance and put Toronto Christian Church, o/a105 Gibson Centre as the additional insured. Please refer to the Rental Agreement for more details.</p>

                    <p class = "sectionmargin"><b><u>Additional Charge</u></b><br>
                    105 Gibson Centre will charge the applicant before or after the agreement is signed to cover some extra operational expenses if the following situation applied:</p>
                    <table class = "table table-bordered">
                        <thead>
                            <tr class = "tableheader">
                                <th>Situation</th>
                                <th>Charge</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Overtime Staff Cost per hour</td>
                                <td>$50</td>
                                <td>If the period of use is out of the Centre service hour</td>
                            </tr>
                            <tr>
                                <td>Additional Staff Cost per staff per 8 hours</td>
                                <td>$250</td>
                                <td>If an additional staff is required for the event reservation</td>
                            </tr>
                            <tr>
                                <td>Event overtime per room per 30 minute</td>
                                <td>$25</td>
                                <td>First 15 minutes is the Grace period, after first 15 minutes, $25 will be charged every 30 minutes, less than 30 minutes will be charged as 30 minutes.</td>
                            </tr>
                            <tr>
                                <td>Extra Cleaning per day</td>
                                <td>$50</td>
                                <td>Extra cleaning charge will be applied if applicant arrange own catering service</td>
                            </tr>
                            <tr>
                                <td>Admission Fee Charged</td>
                                <td>Subject to discuss</td>
                                <td>If the applicant is running event that charge admission fee to their participant, 105 Gibson Centre will reserve the right to put an extra charge on the booking.</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class = "nonscheduledheader">Non-Scheduled Drop-in Fees</p>
                    <p>Reservations are only allowed 24 hours in advance and subject to availability.  These fees are available when there is no scheduled program in the gym and when equipment is available.  Users are required to setup and take down any equipment required under the supervision of Gibson staff.</p>
                    <table class = "table table-bordered rentaltablemargin">
                        <thead>
                            <tr class = "tableheader">
                                <th rowspan="2">Sports</th>
                                <th colspan="2" class="centeredtext">Fee per Hour</th>
                            </tr>
                            <tr class = "tableheader">
                                <th>Before 6:00 pm</th>
                                <th>After 6:00 pm and Weekends</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Badminton Court</td>
                                <td>$8 per court</td>
                                <td>$10 per court</td>
                            </tr>
                            <tr>
                                <td>Table Tennis Table</td>
                                <td>$5 per table</td>
                                <td>$6 per table</td>
                            </tr>
                            <tr>
                                <td rowspan="2">Volleyball Court</td>
                                <td>$30 per court</td>
                                <td>$45 per court</td>
                            </tr>
                            <tr>
                                <td colspan="2">* Extra $15 per hour if they want to use the center court (i.e. full gym)</td>
                            </tr>
                            <tr>
                                <td rowspan="2">Basketball Court</td>
                                <td>$30 per court</td>
                                <td>$45 per court</td>
                            </tr>
                            <tr>
                                <td colspan="2">* Extra $15 per hour if they want to use the center court (i.e. full gym)</td>
                            </tr>
                            <tr>
                                <td rowspan="2">Basketball court (Per person)</td>
                                <td>$2.50 per person</td>
                                <td>$3 per person</td>
                            </tr>
                            <tr>
                                <td colspan="2">Individuals who pay per head may be required to share the court with other individuals</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class = "sectionmargin"><b><u>Sport Equipment Charge:</u></b><br>
                    Centre encourages participants to use their own balls. Additional charge may be applied if Centre offers the equipment.</p>

                    <p>The above amount is before all applicable taxes. If you have any enquiries, please contact 105 Gibson Centre at 905.946.8787</p>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->
    </section>


    </div><!-- /container -->


    <!-- Tabs JavaScript -->
    <script src="/js/tabs.js"></script>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>

    <script src="/js/jquery.validate.js"></script>
    <script src="/js/userHistory.js"></script>
    <script src="/js/convertdate.js"></script>
    <script src="/js/volunteerviewdesign.js"></script>
    <script src="/js/volunteerajax.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src ="/js/volunteerviewdesign.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>


    <!-- Set Background Javascript -->
    <script src="/js/setBackgroundImage.js"></script>
</div>
</body>

<%- include standardfooter %>

</html>
